html, body {
    margin: 0px;
    background-color: green;
    color: white;
}

.titulo {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -60px;
}

#jugador-cartas #computadora-cartas {
    height: 200px;
} /*Para que cuando no haya ningna carta, el jugador ni computadora se unan*/ 